@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rate Your Restaurant Here</h1>
    <p class="lead">Would you like to leave a review of one or more restaurants?</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leave a rating &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Local or Out-Of-Town</h2>
        <p>Whether you are rating your favorite local restaurant or a restaurant visited while out-of-town we will gladly accept your rating. 
           The more ratings we gather the better we can serve others looking for a well-reviewed restaurant!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See examples &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Positive or Negative</h2>
        <p>Not all restaurants provide the same quality that others might. With this in mind, we have designed our Restaurant Rating System to provide
           all ratings, whether positive or negative, albeit within reason. (*)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Disclaimers (*) &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Club Raters!</h2>
        <p>Think you have what it takes to join Rater Nation? We are in need of moderators to protect against those aforementioned 'unreasonably 
           negative' raters. Join Club Raters and help us protect both our customers and our clients. Because hey, we're all in this together!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Join here &raquo;</a></p>
    </div>
</div>